body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;


}
.hidden {
  display: none;
}

#spring-text {
  position: absolute;
  left: 0;
  top: 0px;
  width: 100vw;
  height: 100vh;
}
section{
  width: 100%;
}


/*    N A V B A R       S E C T I O N    */
  .navbar.solid {
  background-color: #000019;
  transition: background-color 0.3s ease 0s;
  box-shadow: 0 0 4px grey; }

.navbar .nav-item {
  padding-right: 1.4rem; }



  /*   C O U N T E R     S E C T I O N     */
  .mt-50 {
    margin-top: 70px; }




  #myCarousel{
    width: 100%;
    height: 100vh;

  }
  .carousel-inner img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    width: 100%;
  }



  /*    A B O U T     S E C T I O N     */
  #about {
    width: 100%;
    height: auto; }
    #about .about-header h2 {
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      border-bottom: 1px solid #d3d3d3; }


      .para-content{

        width: 60%;
        margin-left: auto;
        margin-right:  auto;
      font-size: 1.15rem;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.1rem;

      }


      /*    G A L L E R Y     S E C T I O N   */

       .pb-60{
         padding-bottom: 60px;
       }
       .mt-20{
         margin-top: 20px;
       }

        #gallery{
          width: 100%;
          height: auto;
        }
        #gallery-header{
          width: 60%;
          margin-left: auto;
          margin-right: auto;

          margin-top: 80px;
        font-family: 'Dosis', sans-serif;

        }
        #gallery-header span{
          font-weight: lighter;
          font-size: 3rem;
            letter-spacing: 0.25rem;
        }
          #gallery-header b{
            font-size: 3rem;
          }

        #gallery-sub{
          margin-left: auto;
          margin-right: auto;
        }


        #main-footer{
          margin: 0;
          padding: 0;
          overflow-x: hidden;
          background: #8E0E00;  /* fallback for old browsers */
          background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to left, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


        }

        #end-footer{
          width: 100%;
          height: 100px;
        }

        #footer-social {
display: inline-block;
   position: relative;
   top:40px;
   left: 50%;
-ms-transform:translate(-50%,-50%);
-webkit-transform:translate(-50%,-50%);
transform:translate(-50%,-50%);
}

/* Icons*/

      .socio {
color:#fff;
background: #DB6E82;
border-radius:4px;
text-align:center;
text-decoration:none;
font-family: fontawesome;
position: relative;
display: inline-block;
width:40px;
height:38px;
padding-top:12px;
margin:0 2px;
-o-transition:all .5s;
-webkit-transition: all .5s;
-moz-transition: all .5s;
transition: all .5s;
 -webkit-font-smoothing: antialiased;
}

    .socio:hover {
background: #ef92a3;
}

/* pop-up text */

  .socio span {
color:#666;
position:absolute;
font-family:sans-serif;
bottom:0;
left:-25px;
right:-25px;
padding:5px 7px;
z-index:-1;
font-size:14px;
border-radius:2px;
background:#fff;
visibility:hidden;
opacity:0;
-o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
-webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
-moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* pop-up text arrow */

  .socio span:before {
content:'';
width: 0;
height: 0;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-top: 5px solid #fff;
position:absolute;
bottom:-5px;
left:40px;
}

/* text pops up when icon is in hover state */

  .socio:hover span {
bottom:50px;
visibility:visible;
opacity:1;
}

/* font awesome icons */

  .socio:nth-of-type(1):before {
content:'\f082';
}
  .socio:nth-of-type(2):before {
content:'\f099';
}
  .socio:nth-of-type(3):before {
content:'\f0d5';
}
  .socio:nth-of-type(4):before {
content:'\f113';
}
  .socio:nth-of-type(5):before {
content:'\f17d';
}
  .socio:nth-of-type(6):before {
content:'\f1cb';
}
@media (max-width:728px) {
  body{
    overflow-x: hidden;
    width: 100%;
  }
}
