body{
  margin: 0;
  padding: 0;
}
.hidden {
  display: none;
}

#spring-text {
  position: absolute;
  left: 0;
  top: 0px;
  width: 100vw;
  height: 100vh;
}
/*    N A V B A R       S E C T I O N    */
  .navbar.solid {
  background-color: #000019;
  transition: background-color 0.3s ease 0s;
  box-shadow: 0 0 4px grey; }

.navbar .nav-item {
  padding-right: 1.4rem; }


  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 111;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center; }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s; }

  .sidenav a:hover {
    color: #f1f1f1; }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }

  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px; }

    .sidenav a {
      font-size: 18px; } }
  /*   C O U N T E R     S E C T I O N     */
  .mt-50 {
    margin-top: 70px; }


header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9; }


  #myCarousel{
    width: 100%;
    height: 100vh;

  }
  .carousel-inner img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
  }



  /*    A B O U T     S E C T I O N     */
  #about {
    width: 100%;
    height: auto; }
    #about .about-header h2 {
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      border-bottom: 1px solid #d3d3d3; }
    

      .para-content{

        width: 60%;
        margin-left: auto;
        margin-right:  auto;
      font-size: 1.15rem;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.1rem;

      }
